*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

#navbar{
    background-color: rgb(193, 35, 35);
    height: 6.5rem;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3.5rem;
    position: fixed;
}

#navbar ul{
    display: flex;
    list-style: none;
}

.nav-link{
    color: white;
    margin-right: 3.5rem;
    text-decoration: none;
    font-size: 2.5rem;
}

#welcome-section{
    background-color: rgb(39, 37, 37);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-title{
    color: white;
    text-transform: capitalize;
    letter-spacing: .5rem;
    font-size: 5.5rem;
    margin-bottom: 1rem;
}

.header-para{
    color: red;
    font-size: 3rem;
    font-style: italic;
}